{
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "endOfLine": "crlf",
  "printWidth": 160,
  "overrides": [
    {
      "files": "*.jsx",
      "options": {
        "semi": false
      }
    }
  ]
}

